{% extends "layout.html" %}

{% block head %}
<style type="text/css">
.action-panel {
  min-height: 100px;
}
.panel-title {
  font-size: 16px;
  margin: 0;
}
</style>
<link href="//cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet">
{% endblock %}

{% block header %}
<h5 style="padding-left: 8px">{{ room_id }}</h5>
{% endblock %}

{% block menu_item %}
<li class="mdl-menu__item" id="info">信息</li>
<li class="mdl-menu__item--full-bleed-divider"></li>
<li class="mdl-menu__item" id="exit">退出</li>
{% endblock %}

{% block content %}        
<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-shadow--2dp mdl-cell--8-col" id="message-box" style="padding: 12px;"></div>
  <div class="mdl-layout-spacer"></div>
</div>

<div class="mdl-grid" style="display: none;" id="action-panel-grid">
  <div class="mdl-card mdl-shadow--2dp action-panel mdl-grid" id="make-team-panel">
    <div>
      <div class="mdl-card__title">
        <p class="panel-title">选择组队人选：</p>
      </div>
      <div class="mdl-card__supporting-text" id="make-team-field">
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="make-team-0">
          <input type="checkbox" id="make-team-0" class="mdl-checkbox__input team-select" value="0">
          <span class="mdl-checkbox__label">1</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="make-team-1">
          <input type="checkbox" id="make-team-1" class="mdl-checkbox__input team-select" value="1">
          <span class="mdl-checkbox__label">2</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="make-team-2">
          <input type="checkbox" id="make-team-2" class="mdl-checkbox__input team-select" value="2">
          <span class="mdl-checkbox__label">3</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="make-team-3">
          <input type="checkbox" id="make-team-3" class="mdl-checkbox__input team-select" value="3">
          <span class="mdl-checkbox__label">4</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="make-team-4">
          <input type="checkbox" id="make-team-4" class="mdl-checkbox__input team-select" value="4">
          <span class="mdl-checkbox__label">5</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="make-team-5">
          <input type="checkbox" id="make-team-5" class="mdl-checkbox__input team-select" value="5">
          <span class="mdl-checkbox__label">6</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="make-team-6">
          <input type="checkbox" id="make-team-6" class="mdl-checkbox__input team-select" value="6">
          <span class="mdl-checkbox__label">7</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="make-team-7">
          <input type="checkbox" id="make-team-7" class="mdl-checkbox__input team-select" value="7">
          <span class="mdl-checkbox__label">8</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="make-team-8">
          <input type="checkbox" id="make-team-8" class="mdl-checkbox__input team-select" value="8">
          <span class="mdl-checkbox__label">9</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="make-team-9">
          <input type="checkbox" id="make-team-9" class="mdl-checkbox__input team-select" value="9">
          <span class="mdl-checkbox__label">10</span>
        </label>
      </div>
    </div>
    <div class="mdl-layout-spacer"></div>
    <button class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect mdl-cell--bottom"
            id="make-team-btn">
      确定
    </button>
    <div></div>
  </div>

  <div class="mdl-card mdl-shadow--2dp action-panel mdl-grid" id="team-vote-panel">
    <div>
      <div class="mdl-card__title">
        <p class="panel-title">是否赞同此次组队？</p>
      </div>
      <div class="mdl-card__supporting-text">
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="team-vote-1">
          <input type="radio" id="team-vote-1" class="mdl-radio__button" name="team-vote" value="1">
          <span class="mdl-radio__label">同意</span>
        </label>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="team-vote-0">
          <input type="radio" id="team-vote-0" class="mdl-radio__button" name="team-vote" value="0" checked>
          <span class="mdl-radio__label">反对</span>
        </label>
      </div>
    </div>
    <div class="mdl-layout-spacer"></div>
    <button class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect mdl-cell--bottom"
      id="team-vote-btn">
      确定
    </button>
  </div>

  <div class="mdl-card mdl-shadow--2dp action-panel mdl-grid" id="task-vote-panel">
    <div>
      <div class="mdl-card__title">
      <p class="panel-title">任务成功/失败？</p>
      </div>
      <div class="mdl-card__supporting-text">
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="task-vote-1">
          <input type="radio" id="task-vote-1" class="mdl-radio__button" name="task-vote" value="1" checked>
          <span class="mdl-radio__label">成功</span>
        </label>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="task-vote-0">
          <input type="radio" id="task-vote-0" class="mdl-radio__button" name="task-vote" value="0">
          <span class="mdl-radio__label">失败</span>
        </label>
      </div>
    </div>
    <div class="mdl-layout-spacer"></div>
    <button class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect mdl-cell--bottom"
      id="task-vote-btn">
      确定
    </button>
  </div>

  <div class="mdl-card mdl-shadow--2dp action-panel mdl-grid" id="assassin-panel">
    <div>
      <div class="mdl-card__title">
        <p class="panel-title">选择刺杀目标：</p>
      </div>
      <div class="mdl-card__supporting-text" id="assassin-field">
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="assassin-0">
          <input type="radio" id="assassin-0" class="mdl-radio__button" name="assassin-select" value="0">
          <span class="mdl-radio__label">1</span>
        </label>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="assassin-1">
          <input type="radio" id="assassin-1" class="mdl-radio__button" name="assassin-select" value="1">
          <span class="mdl-radio__label">2</span>
        </label>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="assassin-2">
          <input type="radio" id="assassin-2" class="mdl-radio__button" name="assassin-select" value="2">
          <span class="mdl-radio__label">3</span>
        </label>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="assassin-3">
          <input type="radio" id="assassin-3" class="mdl-radio__button" name="assassin-select" value="3">
          <span class="mdl-radio__label">4</span>
        </label>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="assassin-4">
          <input type="radio" id="assassin-4" class="mdl-radio__button" name="assassin-select" value="4">
          <span class="mdl-radio__label">5</span>
        </label>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="assassin-5">
          <input type="radio" id="assassin-5" class="mdl-radio__button" name="assassin-select" value="5">
          <span class="mdl-radio__label">6</span>
        </label>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="assassin-6">
          <input type="radio" id="assassin-6" class="mdl-radio__button" name="assassin-select" value="6">
          <span class="mdl-radio__label">7</span>
        </label>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="assassin-7">
          <input type="radio" id="assassin-7" class="mdl-radio__button" name="assassin-select" value="7">
          <span class="mdl-radio__label">8</span>
        </label>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="assassin-8">
          <input type="radio" id="assassin-8" class="mdl-radio__button" name="assassin-select" value="8">
          <span class="mdl-radio__label">9</span>
        </label>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="assassin-9">
          <input type="radio" id="assassin-9" class="mdl-radio__button" name="assassin-select" value="9">
          <span class="mdl-radio__label">10</span>
        </label>
      </div>
    </div>
    <div class="mdl-layout-spacer"></div>
    <button class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect mdl-cell--bottom"
            id="assassin-btn">
      确定
    </button>
    <div></div>
  </div>
</div>

<div style="height: 48px;"></div>
<div class="mdl-grid mdl-shadow--2dp mdl-color--white" style="position: fixed; left: 0; right: 0; bottom: 0; z-index: 1; height: 30px;">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell--6-col mdl-grid" style="padding: 0;">
    <div class="mdl-textfield mdl-js-textfield mdl-layout-spacer" style="max-width: 600px; margin: -20px 0;">
      <input class="mdl-textfield__input" type="text" id="message-content">
      <label class="mdl-textfield__label" for="message-content">Message...</label>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--icon mdl-cell--middle" id="send-message"><i class="material-icons">send</i></button>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/game.js?v=4"></script>
{% endblock %}