<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>阿瓦隆</title>

  <link rel="stylesheet" href="../static/css/material.css">
</head>

<body>
  <div class="mdl-layout__container">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">阿瓦隆</span>

          <div class="mdl-layout-spacer"></div>
          <button id="more-button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
            <li disabled class="mdl-menu__item">About</li>
          </ul>
        </div>
      </header>

      <div class="mdl-layout__content">
        
        <div style="text-align: center">
          <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">Welcome</h2>
            </div>
            <div class="mdl-card__supporting-text">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="name">
                <label class="mdl-textfield__label" for="name">昵称...</label>
              </div>
              <div class="mdl-textfield">
                <select class="mdl-textfield__input">
                  <option>5人局</option>
                  <option>6人局</option>
                  <option>7人局</option>
                  <option>8人局</option>
                  <option>9人局</option>
                  <option>10人局</option>
                </select>
              </div>

            </div>
            <div class="mdl-card__actions mdl-card--border" style="text-align: center">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
                开始新游戏
              </button>
            </div>
          </div>
        </div>
        
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
          加入游戏
        </button>
      </div>
    </div>
  </div>

  <script src="../static/js/material.js"></script>
</body>

</html>