{% extends "layout.html" %}

{% block content %}
<div class="mdl-grid">
  <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--3-offset-desktop mdl-cell--1-offset-tablet mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Welcome</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="name">
        <label class="mdl-textfield__label" for="name">昵称...(不少于4字)</label>
      </div>
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="use-index">
        <input type="checkbox" id="use-index" class="mdl-checkbox__input" checked>
        <span class="mdl-checkbox__label">自动排序</span>
      </label>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="index-field" style="display: none">
        <input class="mdl-textfield__input" type="text" id="index" pattern="-?[0-9]*(\.[0-9]+)?">
        <label class="mdl-textfield__label" for="index">序号...</label>
        <span class="mdl-textfield__error">请输入数字</span>
      </div>
    </div>
  </div>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col mdl-cell--6-col-phone mdl-cell--3-offset-desktop mdl-cell--1-offset-tablet mdl-card mdl-shadow--2dp">
    <div class="mdl-card__supporting-text">
      <div class="mdl-textfield">
        <select class="mdl-textfield__input" id="player-num">
          <option value="5">5人局</option>
          <option value="6">6人局</option>
          <option value="7">7人局</option>
          <option value="8">8人局</option>
          <option value="9">9人局</option>
          <option value="10">10人局</option>
        </select>
      </div>

    </div>
    <div class="mdl-card__actions" style="text-align: center">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect"
        id="start-btn">
        开始新游戏
      </button>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--3-col mdl-cell--6-col-phone mdl-card mdl-shadow--2dp">
    <div class="mdl-card__supporting-text">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="room-num" pattern="-?[0-9]*(\.[0-9]+)?">
        <label class="mdl-textfield__label" for="room-num">房间号...</label>
        <span class="mdl-textfield__error">请输入数字</span>
      </div>

    </div>
    <div class="mdl-card__actions" style="text-align: center">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="join-btn">
        加入游戏
      </button>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="//cdn.bootcss.com/jquery.avgrund/1.3.3/jquery.avgrund.min.js"></script>
<script src="/static/js/index.js"></script>
{% endblock %}